

  body{
font-family: Arial;
margin:0;
background:#0f1f3d;
color:white;
}

header{
text-align:center;
padding:30px;
background:#08142b;
}

.logo{
  height: 250px;
width:275px;
}

.slogan{
color:#8fd3ff;
}

nav{
background:#102a57;
}

.menu{
display:flex;
justify-content:center;
list-style:none;
margin:0;
padding:0;
}

.menu li a{
display:block;
padding:15px 25px;
color:white;
text-decoration:none;
}

.menu li a:hover{
background:#0a1e40;
}
section{
padding:50px;
max-width:900px;
margin:auto;
}

.hero{
text-align:center;
}

ul{
line-height:2;
}

.perfil{
display:flex;
align-items:center;
gap:30px;
}

.perfil img{
width:250px;
border-radius:25px;
}

.datos{
background:#102a57;
padding:20px;
border-radius:10px;
}

footer{
text-align:center;
padding:20px;
background:#08142b;
margin-top:40px;
}
.lista{ font-size: 20px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.eso{ font-size: 18px;}
info{
    font-size: 12px;
}
.lugar{
  color: aqua;
}
.electro{
  text-align: center;
}

.reveal{
opacity:0;
transform: translateY(50px);
transition: all 1.2s ease;
}

.reveal.active{
opacity:1;
transform: translateY(0);
}
.idea{font-size: 25px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
